<div id="container">
    <div>{{getDate() | date:'hh:mm'}}</div>
    <div>
        <img src="{{getIconURL()}}" alt=". . .">
    </div>
    <div>{{hourly.temp | number: '2.0-0'}} °С</div>
    <div>{{hourly.weather[0].description}}</div>
    <div>влажность {{hourly.humidity/100 | percent}}</div>
    <div>ветер {{hourly.wind_speed}}м/с</div>
</div>
