    <div>
        <app-current 
            *ngIf="current$ | async; let current"
            [current]="current" [city]="city"></app-current>
    </div>

    <div>
        <app-hourly *ngFor="let hourly of hourly$ | async"
            [hourly]="hourly"></app-hourly>
    </div>

